repos:
- repo: local
  hooks:
    - id: unnecessary_doctest_directives
      name: Check for redundant doctest directives
      description:
        "Check for inline doctest directives that are specified globally through pyproject.toml"
      types: [python]
      entry: >
        (?x)(
          \+IGNORE_EXCEPTION_DETAIL|
          \+NORMALIZE_WHITESPACE
        )
      language: pygrep

- repo: https://github.com/psf/black
  rev: 25.12.0
  hooks:
  - id: black
    name: black
    description: "Black: The uncompromising Python code formatter"
    entry: black
    language: python
    language_version: python3
    minimum_pre_commit_version: 2.9.2
    require_serial: true
    types_or: [python, pyi]
  - id: black-jupyter
    name: black-jupyter
    description:
      "Black: The uncompromising Python code formatter (with Jupyter Notebook support)"
    entry: black
    language: python
    minimum_pre_commit_version: 2.9.2
    require_serial: true
    types_or: [python, pyi, jupyter]
    additional_dependencies: [".[jupyter]"]

- repo: https://github.com/keewis/blackdoc
  rev: v0.4.6
  hooks:
  - id: blackdoc
    description: "Black for doctests"
    additional_dependencies: ["black==25.12.0"]
  - id: blackdoc-autoupdate-black

- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    additional_dependencies:
    # - flake8-bugbear!=24.4.21
    # - flake8-comprehensions
    - flake8-simplify

- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.9.1
  hooks:
    - id: nbqa-pyupgrade
      args: ["--py310-plus"]
    # - id: nbqa-isort
    - id: nbqa-flake8
      args: ["--extend-ignore=E402"]

- repo: https://github.com/kynan/nbstripout
  rev: 0.8.2
  hooks:
    - id: nbstripout
      description: Strip output from jupyter notebooks
      args: [--drop-empty-cells]

- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py310-plus]

- repo: https://github.com/PyCQA/isort
  rev: 7.0.0
  hooks:
  - id: isort
    name: isort (python)
    # args: [--force-single-line-imports]
    types: [python]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-builtin-literals
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-toml
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: forbid-new-submodules
    - id: mixed-line-ending
    - id: trailing-whitespace
