name: Test

on:
  push:
  pull_request:
  schedule:
    - cron: '34 4 3 * *'  # 4:34a on third day of the month

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:

  test:
    name: Run unit tests
    if:
      github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
      github.repository

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install nox
        run: pip install nox

      - name: Test latest Python version
        env:
          OPENTOPOGRAPHY_API_KEY: ${{ secrets.OPENTOPOGRAPHY_API_KEY }}
        if: ${{ matrix.python-version == '3.13' }}
        run: |
          nox -s test --force-pythons=${{ matrix.python-version }}

      - name: Test older Python versions
        env:
          OPENTOPOGRAPHY_API_KEY: ${{ secrets.OPENTOPOGRAPHY_API_KEY }}
          NO_FETCH: 1
        if: ${{ matrix.python-version != '3.13' }}
        run: |
          nox -s test --force-pythons=${{ matrix.python-version }}

      - name: Test BMI
        if: ${{ matrix.python-version == '3.13' }}
        run: |
          nox -s test-bmi --force-pythons=${{ matrix.python-version }}

      - name: Coveralls
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.13'
        uses: AndreMiras/coveralls-python-action@develop
