name: Test

on: [push, pull_request]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:

  test:
    name: Run unit tests and calculate coverage
    if:
      github.event_name == 'push' || github.event.pull_request.head.repo.full_name !=
      github.repository

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          python-version: ${{ matrix.python-version }}

      - name: Install nox
        run: pip install nox

      - name: Test latest Python version
        env:
          OPENTOPOGRAPHY_API_KEY: ${{ secrets.OPENTOPOGRAPHY_API_KEY }}
        if: ${{ matrix.python-version == '3.12' }}
        run: |
          nox -s test --python ${{ matrix.python-version }}

      - name: Test older Python versions
        env:
          OPENTOPOGRAPHY_API_KEY: ${{ secrets.OPENTOPOGRAPHY_API_KEY }}
          NO_FETCH: 1
        if: ${{ matrix.python-version != '3.12' }}
        run: |
          nox -s test --python ${{ matrix.python-version }}

      - name: Test BMI
        if: ${{ matrix.python-version == '3.12' }}
        run: |
          nox -s test-bmi --python ${{ matrix.python-version }}

      - name: Coveralls
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.12'
        uses: AndreMiras/coveralls-python-action@develop
